version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: weekly
