language: java
jdk:
  - openjdk6
os:
  - linux
  - osx
sudo: false
notifications:
    on_success: [change] # default: change [always|never|change] 
    on_failure: [change] # default: always [always|never|change] 

