name: Quick Build

on:
  workflow_dispatch:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Quick build
    runs-on: ubuntu-latest
    steps:

# SETUP BUILD ENVIRONMENT
    - id: prepare-maven-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.3.5

# BUILD AND TEST
    - id: build-test
      name: Build all modules and run tests
      run: |
        # Build
        mvn \
          --no-transfer-progress \
          --batch-mode \
          package
