name: Quick Build

on:
  workflow_dispatch:
  push:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Quick build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:

# SETUP BUILD ENVIRONMENT
    - id: prepare-maven-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.6.1
      with:
        java-version: 17

# BUILD AND TEST
    - id: build-test
      name: Build all modules and run tests
      shell: bash
      run: |
        # Build
        mvn \
          --no-transfer-progress \
          --batch-mode \
          -Dmaven.javadoc.skip=true \
          -Dskip.signing.artifacts=true \
          clean package
